@import "tailwindcss";

@theme {
  --color-background-light: #ffffff;
  --color-foreground-light: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-foreground-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
